@import "variables";

.indicator {
	position: relative;
	width: 100%;
	height: space(1);
	box-shadow: elevation(2);
	flex: 0 0 auto;

	div {
		position: absolute;
		right: 0;
		transition: width 0.2s ease-in-out;
		background: $primary;
		height: 100%;
	}
	&.has-error {

		div {
			background: $danger;
		}
	}
}
