
.select-input {
	position: relative

	label {
		display: flex
	}

	select {
		display: inline-block
		width: 100%
		vertical-align: middle
		background: transparent
		appearance: none
		border: none
		font-size: 14px
		font-weight: normal
		outline: none
		padding: 0 space(2)

		&:focus + .border {
			border-color: rgba($primary, 0.8)
		}
	}

	.icon {
		position: absolute
		content: 'arrow_drop_down'
		display: flex
		justify-content: center
		align-items: center
		width: 24px
		font-size: 16px
		height: 24px
		left: space(1)
		z-index: 4
		pointer-events: none
		color: $gray
	}

	label {
		position: absolute
		font-weight: normal
		font-size: 14px
		padding: space(1) space(2)
		width: 100%
		color: $gray
		background: $very-light-gray
		pointer-events: none
	}
}

.chunked-input {
	position: relative
	display: flex
	justify-content: center
	width: 100%
	min-height: $input-height


	.input-group {
		position: relative
		width: 100%
		background: $very-light-gray
		display: flex
		justify-content: center
		align-items: center
		margin: 0 4px

		.border {
			pointer-events: none
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			border-bottom: $gray 1px solid
			transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out
		}
	}

	&.error .input-group {
		border-color: rgba($danger, 0.6) !important
		box-shadow: focus-ring($danger)

		.border {
			border-color: rgba($danger, 0.6) !important
		}
	}

	input {
		width: 16px
		padding: 0 0
		text-align: center
		outline: none
		font-size: 16px
		font-weight: normal
		background: transparent
		border: 0
		height: 100%
		appearance: none
		z-index: 2

		&:focus {
			border-bottom: rgba($primary, 0.6) 1px solid
			box-shadow: focus-ring($primary)
		}
	}
}


.code-input {
	position: relative
	display: flex
	justify-content: center
	width: 100%
	height: $input-height

	input {
		display: flex
		justify-content: center
		align-items: center
		flex: 1 1 auto
		width: 100%
		padding: 0 0
		text-align: center
		outline: none
		font-size: 16px
		font-weight: normal
		background: transparent
		background: $very-light-gray
		height: 100%
		border: none
		border-bottom: rgba($gray, 0.6) 1px solid
		margin: 0 space(1)
		z-index: 2

		&:focus {
			border-bottom: rgba($primary, 0.8) 1px solid
		}
		&.has-value {
			background: lighten($primary, 37)
			border-bottom: rgba($primary, 0.8) 1px solid
		}
	}

	&.error input {
		color: $danger
		background: lighten($danger, 30)
		border-color: rgba($danger, 0.6) !important
	}
}

.toggle-input {
	position: relative
	display: flex
	justify-content: space-between
	align-items: center

	$dark-primary: darken($primary, 20)

	.toggle-switch {
		order: 1
		position: relative
		display: flex
		align-items: center
		width: 40px
		border-radius: 20px
		height: 12px
		background: $very-light-gray


		&:before {
			content: ''
			transition: width 0.2s ease-in-out
			position: absolute
			left: 0
			top: 0
			height: 100%
			border-radius: 20px
			width: 16px
			background: $dark-primary
		}


		.thumb {
			position: absolute
			display: flex
			justify-content: center
			align-items: center
			left: -2px
			border-radius: 20px
			width: 20px
			height: 20px
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13), 2px 2px 5px 0 rgba(0, 0, 0, 0.06)
			background: $white
			transition: left 0.2s ease-in-out
			pointer-events: none


			.icon {
				position: absolute
				display: flex
				justify-content: center
				align-items: center
				font-size: 12px
				content: 'cancel'
				color: $text-muted
				transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out

				&.check {
					opacity: 0
				}

				&.close {
					opacity: 1
				}
			}
		}

	}

	input {
		position: absolute
		opacity: 0
		pointer-events: none
	}


	&:not(.disabled) {
		input {
			&:checked {
				& + .toggle-switch {

					&:before {
						width: calc(100% - 5px)
					}

					.thumb {
						left: calc(100% - 18px)

						.icon {
							&.check {
								opacity: 1
								color: $dark-primary
							}

							&.close {
								opacity: 0
							}
						}
					}

				}
			}
		}
	}


	&.disabled {
		pointer-events: none
		color: $text-muted
		opacity: 0.6
	}

}
