@import "variables";


.hm-tab  {
	display: flex;
	width: 100%;
	background: $white;
	justify-content: center;
	align-items: center;
	box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.13);
	padding: 0 space(2);
	height: 44px;
	flex: 0 0 auto;
}
.hm-tab--item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	height: 100%;
	cursor: pointer!important;

	.hm-tab--icon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		pointer-events: none;
	}

	label {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 12px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}

	.tab-badge {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		font-size: 9px;
		font-weight: bold;
		width: 16px;
		height: 16px;
		background: $dark-gray;
		color: $white;
		margin-right: 4px;
		border-radius: 3px;
	}

	&.active {
		color: $primary;

		box-shadow: inset 0 -3px 0 $primary;

		.tab-badge {

			background: $primary;
		}
	}
}
